<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- The endpointUri should be https://[CustomerURL], e.g. https://mycompanyname.aprimo.com -->
        <add key="endpointUri" value="" />
        <!-- The uploadserviceUri should be https://[CustomerURL]/uploads, e.g. https://mycompanyname.aprimo.com/uploads -->
        <add key="uploadserviceUri" value="" />
        <!-- For instructions about generating the authorization and client-id, see: https://developers.aprimo.com/marketing-operations/rest-api/authorization/#module3 -->
        <add key="authorization" value="" />
        <add key="clientId" value="" />
        <add key="logDir" value="" />
        <add key="logLevel" value="Info" />
    </appSettings>
</configuration>