<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- The endpointUri should be https://[CustomerURL], e.g. https://mycompanyname.dam.aprimo.com -->
        <add key="endpointUri" value="" />
        <!-- The uploadserviceUri should be https://[CustomerURL].aprimo.com-->
        <add key="uploadserviceUri" value="" />
        <!-- For instructions on getting a clientId and clientSecret, see the Client Credentials OAuth 2.0 documentation: https://developers.aprimo.com/docs/OAuth2 -->
        <add key="clientId" value="" />
        <add key="clientSecret" value="" />
        <add key="logDir" value="" />
        <add key="logLevel" value="Info" />
    </appSettings>
</configuration>
